@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Oxygen:400,700);

$last-fm-red: #E52B50;

body {
	// position: relative;
	// background: url('https://farm8.staticflickr.com/7021/13992864854_976a321115_h.jpg') no-repeat center center fixed;
	background: #333333;
	background-size: cover;
	color: #FFF;
    height: 100%
}

body:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: rgba(0,0,0,0.75);
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    letter-spacing: 0.1em;
    height: 100%
}