.ct-chart h3 {
	position: absolute;
	top: -90px;
	text-transform: capitalize;
	width: 100%;
	text-align: center;

	@media (max-width: 1024px) {
		top: -80px;
	}

	@media (max-width: 480px) {
		top: -65px;
	}
}

.ct-chart {
	position: relative;
	margin-top: 230px;
	z-index: 2000;

	@media (max-width: 1024px) {
		margin-top: 220px;
	}

	@media (max-width: 480px) {
		margin-top: 200px;
	}
}

.label {
	position: absolute;
	left: -80px;
	top: 45px;
	display: none;
}

.year-links {
	display: none;
	position: absolute;
	bottom: -100px;
	left: 17%;

	@media (max-width: 768px) {
		left: 15%;
	}

	@media (max-width: 640px) {
		bottom: -76px;
		left: 3%;
	}

	@media (max-width: 480px) {
		left: 0;
	}
}

.year-links p {
	position: absolute;
	bottom: 12px;
	left: 26%;
	margin-bottom: 30px;

	@media (max-width: 320px) {
		display: none;
	}
}

.year-link {
	padding-left: 30px;

	@media (max-width: 480px) {
		padding-left: 15px;
	}
}

.year-links a:hover {
	color: $last-fm-red;
}

.ct-chart .year-links .year-link-bottom {
	@media (max-width: 320px) {
		position: relative;
		bottom: -20px;
	}
}
