input {
	border-radius: 5px;
	box-shadow: none;
	padding-left: 60px;
}

input[type="text"] {
	float: left;
}

div.userBox,
div.artistBox {
	position: relative;
}

span.svg-user {
	position: absolute;
	top: 1px;
	left: 127px;
	border: 1px solid $last-fm-red;
	padding: 11.5px;
	border-radius: 3px;
	background-color: $last-fm-red;

	@media (max-width: 768px) {
		left: 105px;
	}

	@media (max-width: 640px) {
		left: 87px;
	}

	@media (max-width: 480px) {
		left: 51px;
	}

	@media (max-width: 320px) {
		left: 12px;
	}
}

span.svg-guitarpick {
	position: absolute;
	top: 1px;
	left: 536px;
	border: 1px solid $last-fm-red;
	padding: 6.5px;
	border-radius: 3px;
	background-color: $last-fm-red;

	@media (max-width: 768px) {
		left: 439px;
	}

	@media (max-width: 640px) {
		left: 366px;
	}

	@media (max-width: 480px) {
		top: 51px;
		left: 51px;
	}

	@media (max-width: 320px) {
		left: 12px;
	}
}

.svg-user svg {
	height: 20px;
	width: 20px;
}

.svg-guitarpick svg {
	height: 30px;
	width: 30px;
}

.svg-user svg path {
	fill: #FFF;
}

.svg-guitarpick svg {
	stroke: #FFF;
	fill: #FFF;
}

.textfield {
    border: 1px solid #000;
    margin-left: 13.5%;
    width: 30%;
    height: 50px;

    @media (max-width: 480px) {
    	margin-left: 10.5%;
    	width: 50%;
    }

    @media (max-width: 320px) {
    	margin-left: 3.5%;
    	width: 65%;
    }
}

.textfield:focus { 
    outline: none;
    border-color: $last-fm-red;
    box-shadow: 0 0 10px $last-fm-red;
    background-color: #CCC;
}

.svg-rock {
	stroke: $last-fm-red;
	fill: $last-fm-red;
	cursor: pointer;
}

.svg-rock:focus {
	outline: none;
	stroke: #FFF;
	fill: #FFF;
}

.submit {
	position: absolute;
	top: 175px;
	left: 240px;

	@media (min-width: 1735px) {
		top: 255px;
	}

	@media (max-width: 1024px) {
		left: 230px;
	}

	@media (max-width: 768px) {
		left: 142px;
	}

	@media (max-width: 640px) {
		left: 82px;
	}

	@media (max-width: 480px) {
		top: 255px;
		left: 52px;
	}

	@media (max-width: 320px) {
		left: -10px;
	}
}

.submit h3 {
	text-align: center;
	color: $last-fm-red;
	text-transform: uppercase;
}

.svg-rock svg {
	height: 400px;
	width: 400px;
	margin-right: 65px;

	@media (max-width: 480px) {
		height: 300px;
		width: 300px;
	}
}

.svg-roll svg {
	height: 50px;
	width: 50px;	
	stroke: $last-fm-red;
	fill: $last-fm-red;
	cursor: pointer;
	margin-left: 3%;
}

.small-submit {
	position: absolute;
	top: 70px;
	left: 443px;
	display: none;

	@media (max-width: 768px) {
		left: 357px;
	}

	@media (max-width: 640px) {
		left: 295px;
	}

	@media (max-width: 480px) {
		left: 345px;
		top: 90px;
	}

	@media (max-width: 320px) {
		left: 237px;
	}
}

.small-submit p {
	// text-align: center;
	color: $last-fm-red;
	margin-top: 0;
}

.svg-rock svg:hover,
.svg-roll svg:hover {
	stroke: #FFF;
	fill: #FFF;
}