@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Oxygen:400,700);
/* line 1, _reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* line 1, _reset.scss */
audio, canvas, video { display: inline-block; }

/* line 1, _reset.scss */
audio:not([controls]) { display: none; height: 0; }

/* line 1, _reset.scss */
[hidden] { display: none; }

/* line 1, _reset.scss */
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 1, _reset.scss */
a:focus { outline: thin dotted; }

/* line 1, _reset.scss */
a:active, a:hover { outline: 0; }

/* line 1, _reset.scss */
h1 { font-size: 2em; }

/* line 1, _reset.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 1, _reset.scss */
b, strong { font-weight: 700; }

/* line 1, _reset.scss */
dfn { font-style: italic; }

/* line 1, _reset.scss */
mark { background: #ff0; color: #000; }

/* line 1, _reset.scss */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/* line 1, _reset.scss */
pre { white-space: pre-wrap; word-wrap: break-word; }

/* line 1, _reset.scss */
q { quotes: \201C \201D \2018 \2019; }

/* line 1, _reset.scss */
small { font-size: 80%; }

/* line 1, _reset.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 1, _reset.scss */
sup { top: -.5em; }

/* line 1, _reset.scss */
sub { bottom: -.25em; }

/* line 1, _reset.scss */
img { border: 0; }

/* line 1, _reset.scss */
svg:not(:root) { overflow: hidden; }

/* line 1, _reset.scss */
fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

/* line 1, _reset.scss */
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

/* line 1, _reset.scss */
button, input { line-height: normal; }

/* line 1, _reset.scss */
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }

/* line 2, _reset.scss */
button[disabled], input[disabled] { cursor: default; }

/* line 2, _reset.scss */
input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0; }

/* line 2, _reset.scss */
input[type=search] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 2, _reset.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

/* line 2, _reset.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 2, _reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 2, _reset.scss */
body, figure { margin: 0; }

/* line 2, _reset.scss */
legend, button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 4, _reset.scss */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* line 9, _reset.scss */
.clearfix:after { content: " "; visibility: hidden; display: block; height: 0; clear: both; }

/* line 5, _base.scss */
body { position: relative; background: #333333; background-size: cover; color: #FFF; }

/* line 13, _base.scss */
body:before { content: ""; display: block; position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: -1; background: rgba(0, 0, 0, 0.75); }

/* line 25, _base.scss */
.container { width: 100%; max-width: 940px; margin: 0 auto; font-family: 'Source Sans Pro', sans-serif; position: relative; letter-spacing: 0.1em; }

/* line 1, _header.scss */
header { width: 100%; color: #E52B50; font-family: 'Oxygen', sans-serif; height: 80px; font-size: 20px; }
@media (max-width: 768px) { /* line 1, _header.scss */
  header { font-size: 15px; } }
@media (max-width: 480px) { /* line 1, _header.scss */
  header { font-size: 13px; } }
@media (max-width: 375px) { /* line 1, _header.scss */
  header { height: 50px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 1, _header.scss */
  header { text-align: left; margin-left: -14%; } }

/* line 28, _header.scss */
h1 { text-align: center; font-weight: 600; margin-top: 0; padding-top: 20px; margin-bottom: 0; }

/* line 36, _header.scss */
h2 { text-align: center; margin-bottom: 50px; font-size: 20px; }
@media (max-width: 768px) { /* line 36, _header.scss */
  h2 { font-size: 15px; } }
@media (max-width: 690px) { /* line 36, _header.scss */
  h2 { font-size: 18px; } }
@media (max-width: 480px) { /* line 36, _header.scss */
  h2 { margin-bottom: 30px; } }
@media (max-width: 375px) { /* line 36, _header.scss */
  h2 { padding-right: 20px; padding-left: 20px; margin-top: 10px; margin-bottom: 10px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 36, _header.scss */
  h2 { display: none; } }

/* line 66, _header.scss */
.instructions { width: 25%; position: absolute; z-index: 1000; top: -80px; right: -230px; }
@media (min-width: 1735px) { /* line 66, _header.scss */
  .instructions { right: -350px; } }
@media (max-width: 1024px) { /* line 66, _header.scss */
  .instructions { right: -20px; } }
@media (max-width: 768px) { /* line 66, _header.scss */
  .instructions { right: 20px; } }
@media (max-width: 375px) { /* line 66, _header.scss */
  .instructions { top: -50px; } }
@media (max-width: 320px) { /* line 66, _header.scss */
  .instructions { right: 10px; top: -89px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 66, _header.scss */
  .instructions { display: none; } }

/* line 100, _header.scss */
.instructions p { margin-top: 20px; position: absolute; top: 30px; left: 30px; display: none; }

/* line 109, _header.scss */
.instructions a { color: #E52B50; text-decoration: none; }

/* line 114, _header.scss */
.instructions a:hover { color: #FFF; }

/* line 118, _header.scss */
.svg-question { stroke: #E52B50; fill: #E52B50; cursor: pointer; float: right; }

/* line 125, _header.scss */
.svg-question svg { height: 40px; width: 40px; }
@media (max-width: 375px) { /* line 125, _header.scss */
  .svg-question svg { height: 30px; width: 30px; } }

/* line 135, _header.scss */
.svg-question:hover { stroke: #FFF; fill: #FFF; }

/* line 1, _inputs.scss */
input { border-radius: 5px; box-shadow: none; padding-left: 60px; }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 1, _inputs.scss */
  input { padding-left: 10px; } }

/* line 12, _inputs.scss */
input[type="text"] { float: left; }

/* line 16, _inputs.scss */
div.userBox, div.artistBox { position: relative; }

/* line 21, _inputs.scss */
span.svg-user { position: absolute; top: 1px; left: 127px; border: 1px solid #E52B50; padding: 11.5px; border-radius: 3px; background-color: #E52B50; }
@media (max-width: 768px) { /* line 21, _inputs.scss */
  span.svg-user { left: 105px; } }
@media (max-width: 640px) { /* line 21, _inputs.scss */
  span.svg-user { left: 87px; } }
@media (max-width: 480px) { /* line 21, _inputs.scss */
  span.svg-user { left: 51px; } }
@media (max-width: 414px) { /* line 21, _inputs.scss */
  span.svg-user { left: 44px; } }
@media (max-width: 375px) { /* line 21, _inputs.scss */
  span.svg-user { left: 40px; } }
@media (max-width: 320px) { /* line 21, _inputs.scss */
  span.svg-user { left: 12px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 21, _inputs.scss */
  span.svg-user { display: none; } }

/* line 60, _inputs.scss */
span.svg-guitarpick { position: absolute; top: 1px; left: 536px; border: 1px solid #E52B50; padding: 6.5px; border-radius: 3px; background-color: #E52B50; }
@media (max-width: 768px) { /* line 60, _inputs.scss */
  span.svg-guitarpick { left: 439px; } }
@media (max-width: 640px) { /* line 60, _inputs.scss */
  span.svg-guitarpick { left: 366px; } }
@media (max-width: 480px) { /* line 60, _inputs.scss */
  span.svg-guitarpick { top: 51px; left: 51px; } }
@media (max-width: 414px) { /* line 60, _inputs.scss */
  span.svg-guitarpick { left: 44px; } }
@media (max-width: 375px) { /* line 60, _inputs.scss */
  span.svg-guitarpick { left: 40px; } }
@media (max-width: 320px) { /* line 60, _inputs.scss */
  span.svg-guitarpick { left: 12px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 60, _inputs.scss */
  span.svg-guitarpick { display: none; } }

/* line 100, _inputs.scss */
.svg-user svg { height: 20px; width: 20px; }

/* line 105, _inputs.scss */
.svg-guitarpick svg { height: 30px; width: 30px; }

/* line 110, _inputs.scss */
.svg-user svg path { fill: #FFF; }

/* line 114, _inputs.scss */
.svg-guitarpick svg { stroke: #FFF; fill: #FFF; }

/* line 119, _inputs.scss */
.textfield { border: 1px solid #000; margin-left: 13.5%; width: 30%; height: 50px; }
@media (max-width: 480px) { /* line 119, _inputs.scss */
  .textfield { margin-left: 10.5%; width: 50%; } }
@media (max-width: 375px) { /* line 119, _inputs.scss */
  .textfield { width: 55%; } }
@media (max-width: 320px) { /* line 119, _inputs.scss */
  .textfield { margin-left: 3.5%; width: 65%; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 119, _inputs.scss */
  .textfield { margin-left: 3.5%; width: 45%; } }

/* line 146, _inputs.scss */
.textfield:focus { outline: none; border-color: #E52B50; box-shadow: 0 0 10px #E52B50; background-color: #CCC; }

/* line 153, _inputs.scss */
.svg-rock { stroke: #E52B50; fill: #E52B50; cursor: pointer; }

/* line 159, _inputs.scss */
.svg-rock:focus { outline: none; stroke: #FFF; fill: #FFF; }

/* line 165, _inputs.scss */
.submit { position: absolute; top: 175px; left: 240px; }
@media (min-width: 1735px) { /* line 165, _inputs.scss */
  .submit { top: 255px; } }
@media (max-width: 1024px) { /* line 165, _inputs.scss */
  .submit { left: 230px; } }
@media (max-width: 768px) { /* line 165, _inputs.scss */
  .submit { left: 142px; } }
@media (max-width: 640px) { /* line 165, _inputs.scss */
  .submit { left: 82px; } }
@media (max-width: 480px) { /* line 165, _inputs.scss */
  .submit { top: 255px; left: 52px; } }
@media (max-width: 414px) { /* line 165, _inputs.scss */
  .submit { top: 215px; left: 22px; } }
@media (max-width: 375px) { /* line 165, _inputs.scss */
  .submit { top: 195px; left: 32px; } }
@media (max-width: 320px) { /* line 165, _inputs.scss */
  .submit { left: 60px; top: 220px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 165, _inputs.scss */
  .submit { top: 110px; left: 70px; } }

/* line 213, _inputs.scss */
.submit h3 { text-align: center; color: #E52B50; text-transform: uppercase; }
@media (max-width: 320px) { /* line 213, _inputs.scss */
  .submit h3 { margin-top: 0; margin-right: 20%; } }

/* line 224, _inputs.scss */
.svg-rock svg { height: 400px; width: 400px; margin-right: 65px; }
@media (max-width: 480px) { /* line 224, _inputs.scss */
  .svg-rock svg { height: 300px; width: 300px; } }
@media (max-width: 375px) { /* line 224, _inputs.scss */
  .svg-rock svg { height: 250px; width: 250px; } }
@media (max-width: 320px) { /* line 224, _inputs.scss */
  .svg-rock svg { height: 150px; width: 150px; } }

/* line 245, _inputs.scss */
.svg-roll svg { height: 50px; width: 50px; stroke: #E52B50; fill: #E52B50; cursor: pointer; margin-left: 3%; }

/* line 254, _inputs.scss */
.small-submit { position: absolute; top: 70px; left: 443px; display: none; }
@media (max-width: 768px) { /* line 254, _inputs.scss */
  .small-submit { left: 357px; } }
@media (max-width: 640px) { /* line 254, _inputs.scss */
  .small-submit { left: 295px; } }
@media (max-width: 480px) { /* line 254, _inputs.scss */
  .small-submit { left: 345px; top: 90px; } }
@media (max-width: 414px) { /* line 254, _inputs.scss */
  .small-submit { left: 300px; } }
@media (max-width: 375px) { /* line 254, _inputs.scss */
  .small-submit { left: 285px; top: 70px; } }
@media (max-width: 320px) { /* line 254, _inputs.scss */
  .small-submit { left: 237px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 254, _inputs.scss */
  .small-submit { top: -75px; } }

/* line 292, _inputs.scss */
.small-submit p { color: #E52B50; margin-top: 0; }

/* line 298, _inputs.scss */
.svg-rock svg:hover, .svg-roll svg:hover { stroke: #FFF; fill: #FFF; }

/* line 1, _chart.scss */
.ct-chart h3 { position: absolute; top: -90px; text-transform: capitalize; width: 100%; text-align: center; }
@media (max-width: 1024px) { /* line 1, _chart.scss */
  .ct-chart h3 { top: -80px; } }
@media (max-width: 480px) { /* line 1, _chart.scss */
  .ct-chart h3 { top: -65px; } }
@media (max-width: 375px) { /* line 1, _chart.scss */
  .ct-chart h3 { display: none; } }

/* line 21, _chart.scss */
.ct-chart { position: relative; margin-top: 230px; z-index: 2000; }
@media (max-width: 1024px) { /* line 21, _chart.scss */
  .ct-chart { margin-top: 220px; } }
@media (max-width: 480px) { /* line 21, _chart.scss */
  .ct-chart { margin-top: 200px; } }
@media (max-width: 375px) { /* line 21, _chart.scss */
  .ct-chart { margin-top: 130px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 21, _chart.scss */
  .ct-chart { margin-top: 0; } }

/* line 44, _chart.scss */
.label { position: absolute; left: -80px; top: 45px; display: none; }

/* line 51, _chart.scss */
.year-links { display: none; position: absolute; bottom: -100px; left: 17%; }
@media (max-width: 768px) { /* line 51, _chart.scss */
  .year-links { left: 15%; } }
@media (max-width: 640px) { /* line 51, _chart.scss */
  .year-links { bottom: -76px; left: 3%; } }
@media (max-width: 480px) { /* line 51, _chart.scss */
  .year-links { left: 0; } }
@media (max-width: 414px) { /* line 51, _chart.scss */
  .year-links { bottom: -56px; } }
@media (max-width: 375px) { /* line 51, _chart.scss */
  .year-links { bottom: -46px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 51, _chart.scss */
  .year-links { bottom: -21px; } }

/* line 84, _chart.scss */
.year-links p { position: absolute; bottom: 12px; left: 26%; margin-bottom: 30px; }
@media (max-width: 414px) { /* line 84, _chart.scss */
  .year-links p { display: none; } }

/* line 95, _chart.scss */
.year-link { padding-left: 30px; }
@media (max-width: 480px) { /* line 95, _chart.scss */
  .year-link { padding-left: 15px; } }

/* line 103, _chart.scss */
a.year-link:hover { color: #E52B50; }

@media (max-width: 320px) { /* line 107, _chart.scss */
  .ct-chart .year-links .year-link-bottom { position: relative; bottom: -20px; } }
@media screen and (device-aspect-ratio: 2 / 3) { /* line 107, _chart.scss */
  .ct-chart .year-links .year-link-bottom { display: none; } }

/* line 1, _footer.scss */
footer { font-size: 12px; position: fixed; left: 0; bottom: 0; padding-right: 2%; width: 100%; color: #E52B50; }
@media (max-width: 375px) { /* line 1, _footer.scss */
  footer { display: none; } }

/* line 15, _footer.scss */
footer p { float: right; margin-top: 20px; }
@media (max-width: 480px) { /* line 15, _footer.scss */
  footer p { float: left; } }

/* line 24, _footer.scss */
footer svg { margin-left: 1%; float: right; width: 20px; height: 20px; margin-top: 15px; fill: #E52B50; }

/* line 33, _footer.scss */
footer svg:hover { fill: #FFF; }

/*# sourceMappingURL=style.css.map */
